<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dania API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>

<body>
    <div class="content container mt-2">
    <nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #e3f2fd;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">DaniaIT</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

            {% if session['email'] == None %}
                    <a class="nav-item nav-link" href="{{ url_for('users.register_user') }}">Sign up</a>
                    <a class="nav-item nav-link " href="{{ url_for('users.login_user') }}">Log in</a>
            {% endif %}

            {% if session['email'] %}
                    <a class="nav-item nav-link" href="{{ url_for('assets.index') }}">Assets</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Log out</a>
            {% endif %}

            <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="mt-3">
        {% block content %}

        {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small primary-color-dark pt-5">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-5">
            <small class="form-text text-muted">
                Author: Vlad11148.<br>
                Please read the about page.</small>
        </div>
         <!-- Copyright -->
    </footer>
    <!-- Footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>